body{
	border-width: 50px;
	width: px;
	text-indent: 4px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 3px;

}
nav{
  min-height: 100px;
  width: 1130px;
 
}
.container{
      width: px
      padding-right:20px;
      text-align: center;
      text-align: center;
      padding-bottom: 30px;
    }
    body {
    
    }
footer .container {
	  width: px
      padding-right:20px;
      text-align: center;
      padding-bottom: 30px;

}
ul .rap{
	float: right;
	position: right;
} 