nav {
	background-color: black;
	position: top;

}
footer
{
	position: fixed-buttom;
}
.container{
	width: 700px;
}
html {
  height: 100%;
}
body {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
.footer {
  grid-row-start: 2;
  grid-row-end: 3;
}
.navs{
	float: right;
}